html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  background: #181c22;
  font-family:
    Inter,
    "Segoe UI",
    sans-serif;

  color: white;
}

button,
input,
select {
  font: inherit;
}

button {
  cursor: pointer;
}